# Ignore macOS metadata
.DS_Store

# Ignore Python cache
__pycache__/
*.pyc

# Ignore virtual environments
env/
.venv/

# Ignore data or model files
backend/ml-latest-small/
models/

# Ignore any env vars or secrets (if you use them)
.env
config.py
openai_key.txt
